anyio
asgiref
certifi
charset-normalizer
Django
django-cors-headers
django-filter
djangorestframework
djangorestframework_simplejwt
et_xmlfile
h11
httpcore
httpx
idna
openpyxl
pillow
PyJWT
python-telegram-bot
requests
sqlparse
tzdata
tzlocal
urllib3
python-dotenv
psycopg2-binary
drf-spectacular
drf-spectacular-sidecar
celery
redis
django-celery-beat
gunicorn
pandas
numpy
